@charset "UTF-8";
@font-face {
  font-family: icon;
  src: url(../fonts/icon.84d570aa.eot);
  src: url(../fonts/icon.84d570aa.eot) format("embedded-opentype"), url(../fonts/icon.e8ad70dd.ttf) format("truetype"), url(../fonts/icon.d2c23398.woff) format("woff"), url(../images/icon.872f342a.svg) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

[class*=" icon-"], [class^=icon-] {
  display: inline-block;
  font: normal normal normal 14px / 1 icon !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-EffieAwards:before {
  content: "";
}

.icon-AWWWARDS:before {
  content: "";
}

.icon-adcua:before {
  content: "";
}

.icon-CSSDesign:before {
  content: "";
}

.banner {
  height: 100vh;
  position: relative;
  z-index: 1;
}

.banner .parallax {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}

.banner .parallax:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  transition: .3s;
}
.banner .swiper_banner{
  width: 100%;
  height: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.banner .swiper_banner .swiper-slide::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  top: 0;
  left: 0;
}
.banner .swiper_banner .back{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: cubic-bezier(0.77, 0, 0.175, 1) transform 2s;
}
.banner .swiper_banner .swiper-slide-active .back{
  transform: scale(1);
}
.banner .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner .wrap {
  margin: 0 0 0 120px;
  position: relative;
  z-index: 5;
}

.banner .wrap h1 {
  font-weight: bold;
  font-size: 45px;
  color: #FFFFFF;
  margin: 0 0 16px;
}

.banner .wrap p {
  font-weight: bold;
  font-size: 45px;
  color: #FFFFFF;
}

.index1 {
  background: #F2F1E4;
  position: relative;
}

.index1 .wrap {
  width: 1590px;
  margin: 97px auto 169px;
  max-width: 90%;
}

.index1 .wrap .introduction {
  width: fit-content;
  font-weight: bold;
  font-size: 17px;
  color: #000000;
}

.index1 .wrap .center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.index1 .wrap .center #container {
  width: 590px;
  height: 500px;
  position: relative;
  top: -30px;
}

.index1 .wrap .center .r .title {
  font-weight: bold;
  font-size: 33px;
  color: #184DC4;
  line-height: 58px;
  margin: 0 0 38px;
  position: relative;
}

.index1 .wrap .center .r .title p {
  width: fit-content;
}

.index1 .wrap .center .r .text p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 2.5;
}

.index1 .wrap .center .r .text .swiper {
  display: inline-block;
  width: 170px;
  height: 27px;
  transform: translateY(8px);
  margin: 0 3px;
  background: #184DC4;
}

.index1 .wrap .center .r .text .swiper .swiper-slide {
  padding: 0 10px;
  color: #FF8000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index1 .wrap .center .r .text .swiper .swiper-slide span {
  font-weight: bold;
}

.index1 .wrap .center .r .text .inline p {
  display: inline;
}

.index1 .wrap .center .r .index_img {
  margin: 77px 0 0 0;
  padding: 0 25px 0 0;
  display: flex;
  justify-content: flex-end;
}

.index1 .wrap .center .r .index_img p {
  font-size: 18px;
  color: #111;
  font-family: "ITCAvantGardeStd-XLt", sans-serif !important;
  text-align: right;
}

.index1 .wrap .center .r .index_img .display {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 25px 0 0 0;
}

.index1 .wrap .center .r .index_img .display .item {
  padding: 0 25px;
}

.index1 .wrap .center .r .index_img .display .item:first-child {
  padding-left: 0;
}

.index1 .wrap .center .r .index_img .display .item:last-child {
  padding-right: 0;
}

.index1 .wrap .center .r .index_img .display .item i {
  line-height: 1;
  font-size: 80px !important;
  color: #000;
}

.index1 .wrap .content {
  margin: 45px 0 0 0;
}

.index1 .wrap .content .headline {
  display: flex;
  align-items: center;
}

.index1 .wrap .content .headline p {
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  margin: 0 6px 0 0;
}

.index1 .wrap .content .headline .line {
  flex: 1;
  height: 1px;
  background: #ADADAD;
  transform: scaleX(0);
  transition: 2s;
  transform-origin: left;
}

.index1 .wrap .content .headline.aos-animate .line {
  transform: scaleX(1);
}

.index1 .wrap .content .picture {
  margin: 47px auto 0;
  max-width: 83%;
  display: flex;
}

.index1 .wrap .content .picture > div {
  flex: 1;
}

.index1 .wrap .content .picture img {
  object-fit: contain;
  min-height: 25px;
}

.index1 .wrap .content .picture .img {
  /*width: 98px;*/
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index1 .wrap .content .picture .img:not(:last-child) {
  margin: 0 55px 0 0;
}

.index1 .wrap .content .picture .img .swiper {
  /*height: 26px;*/
  height: 40px;
}

.index1 .wrap .content .picture .img .swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.index2 {
  background: #F2F1E4;
  position: relative;
  padding: 6px 0 0 0;
}

.index2 .position_img {
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

.index2 .position_img.position_img1 {
  right: 0;
  top: 1740px;
}

.index2 .position_img.position_img2 {
  left: 0;
  top: 365px;
}

.index2 .wrap {
  width: 1400px;
  margin: 123px auto 155px;
  position: relative;
  z-index: 5;
  max-width: 90%;
}

.index2 .wrap .fist {
  display: flex;
  justify-content: space-between;
}

.index2 .wrap .fist .title {
  margin: 0 0 115px;
}

.index2 .wrap .fist .title .blue {
  font-weight: bold;
  font-size: 42px;
  color: #184DC4;
  line-height: 67px;
  margin: 0 0 35px;
}

.index2 .wrap .fist .title .more {
  display: flex;
  align-items: center;
}

.index2 .wrap .fist .title .more p {
  font-weight: 500;
  font-size: 16px;
  color: #010101;
  margin: 0 9px 0 0;
}

.index2 .wrap .fist .title .more .iconfont {
  color: #184DC4;
  font-size: 16px !important;
  font-weight: bold !important;
}

.index2 .wrap .fist .flex {
  width: 630px;
}

.index2 .wrap .fist.last .flex:first-child {
  margin: 250px 0 0 0;
}

.index2 .wrap .item {
  display: block;
}

.index2 .wrap .item:not(:last-child) {
  margin: 0 0 65px;
}

.index2 .wrap .item .img {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: block;
}

.index2 .wrap .item .img .mask_ {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .6s;
}

.index2 .wrap .item .img:after {
  content: "";
  background: transparent;
  height: 100%;
  left: 0;
  mix-blend-mode: hard-light;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
  z-index: 10;
}

.index2 .wrap .item .img img {
  width: 100%;
}

.index2 .wrap .item .img:hover:after {
  opacity: 0;
}

.index2 .wrap .item .img:hover .mask_ {
  opacity: 0;
}

.index2 .wrap .item .text {
  margin: 36px 0 0 0;
}

.index2 .wrap .item .text p:first-child {
  font-weight: 500;
  font-size: 16px;
  color: #5F5F5F;
  margin: 0 0 18px;
}

.index2 .wrap .item .text p:last-child {
  font-weight: 500;
  font-size: 23px;
  color: #010101;
  line-height: 36px;
}

.index2 .wrap .center {
  margin: 230px 0 0 0;
}

.index3 {
  background: #F2F1E4;
}

.index3 .wrap {
  width: 1660px;
  margin: 100px auto;
  max-width: 90%;
}

.index3 .wrap .title {
  font-weight: bold;
  font-size: 42px;
  color: #184DC4;
  line-height: 67px;
}

.index3 .wrap .content {
  margin: 60px 0 0 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.index3 .wrap .content .l{
  position: relative;
  z-index: 5;
}
.index3 .wrap .content .l .item {
  width: 800px;
  border-radius: 5px;
  padding: 22px 30px;
  transition: .6s;
  cursor: pointer;
}

.index3 .wrap .content .l .item .attr {
  position: relative;
  overflow: hidden;
}

.index3 .wrap .content .l .item .attr p {
  transition: all 0.6s;
}

.index3 .wrap .content .l .item .attr:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: all 0.6s;
}

.index3 .wrap .content .l .item .blue {
  font-weight: 500;
  font-size: 16px;
  color: #919191;
  margin: 0 0 20px;
  transition: .6s;
  position: relative;
  height: 18px;
}

.index3 .wrap .content .l .item .h1 {
  font-weight: 500;
  font-size: 25px;
  color: #919191;
  margin: 0 0 20px;
  transition: .6s;
  height: 29px;
}

.index3 .wrap .content .l .item .h1 p {

}

.index3 .wrap .content .l .item .text {
  font-weight: 500;
  font-size: 16px;
  color: #919191;
  line-height: 29px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  opacity: 0;
  transition: .6s;
}

.index3 .wrap .content .l .item.on .attr p {
  transform: translateY(-100%);
}

.index3 .wrap .content .l .item.on .attr:after {
  transform: translateY(0);
}

.index3 .wrap .content .l .item.on .blue:after {
  color: #184DC4;
}

.index3 .wrap .content .l .item.on .h1:after {
  color: #000000;
}

.index3 .wrap .content .l .item.on .text {
  opacity: 1;
}

.index3 .wrap .content .l .move {
  width: 800px;
  height: 189px;
  border: 1px solid rgba(193, 192, 180, 0.97);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  pointer-events: none;
  transition: all 0.4s;
  z-index: 2;
}

.index3 .wrap .content .l .move:after {
  content: '';
  width: 5px;
  height: 61px;
  border-radius: 5px 0 0 5px;
  flex-shrink: 0;
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  transition: all 0.6s;
  background: #184DC4;
  box-shadow: 10px 0 17px 0 rgba(24, 77, 196, 0.8);
}

.index3 .wrap .content .picture {
  width: 50%;
  position: relative;
  transform: translateY(-222px) scale(.9);
}

.index3 .wrap .content .picture img {
  width: 100%;
}

.index3 .wrap .content .picture li{
  width: 100%;
  position: relative;
  opacity: 0;
  z-index: 1;
}
.index3 .wrap .content .picture li.on{
  opacity: 1;
  z-index: 4;
}
.index3 .wrap .content .picture li:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.index3 .wrap .content .picture video{
  width: 100%;
  object-fit: contain;
  opacity: 0;
}
.index3 .wrap .content .picture video.on{
  opacity: 1;
}
.index3 .wrap .content .picture video:not(:last-child) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.index4 {
  height: 100vh;
  position: relative;
}

.index4 .fix {
  height: 100vh;
  position: relative;
}

.index4 .fix:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.index4 .bg {
  position: absolute;
  width: 100%;
  height: fit-content;
  max-height: fit-content;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.index4 .text {
  font-weight: 400;
  font-size: 50px;
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 57%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  white-space: nowrap;
  z-index: 5;
}

.index4 .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scale(1.05);
  animation: 10s mask_ cubic-bezier(0.79, 0.06, 0.33, 0.94) forwards;
  animation-play-state: paused;
}

@keyframes mask_ {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(300);
  }
}

.index5 {
  background: #F2F1E4;
  padding: 45px 0 15px 0;
  position: relative;
  z-index: 6;
  overflow: unset !important;
}

.index5 .position_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.index5 .wrap {
  width: 1376px;
  margin: 0 auto 350px;
  position: relative;
  z-index: 5;
  max-width: 90%;
}

.index5 .wrap .title {
  display: flex;
  align-items: center;
  margin: 0 0 95px 145px;
}

.index5 .wrap .title .l {
  margin: 0 270px 0 0;
}

.index5 .wrap .title .l h1 {
  font-weight: bold;
  font-size: 25px;
  color: #000000;
  margin: 0 0 35px;
}

.index5 .wrap .title .l .more {
  width: 108px;
  height: 29px;
  background: #184DC4;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index5 .wrap .title .l .more p {
  font-weight: 500;
  font-size: 12px;
  color: #F2F1E4;
  margin: 0 15px 0 0;
}

.index5 .wrap .title .l .more .iconfont {
  color: #FF770F;
  font-size: 16px !important;
  font-weight: bold !important;
}

.index5 .wrap .title .r {
  font-weight: 500;
  font-size: 17px;
  color: #919191;
  line-height: 29px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index5 .wrap .title .r .img {
  width: 172px;
  overflow: hidden;
}

.index5 .wrap .title .r .img img {
  transform: translateY(40px);
  transition: .6s;
}

.index5 .wrap .title .r .img img:hover {
  transform: translateY(0);
}

.index5 .wrap .title .r p {
  color: #000;
  margin: 0 40px 0 0;
}

.index5 .wrap .title .r .position_img {
  position: absolute;
  bottom: 0;
  left: 68%;
  width: 169%;
  transform: translateX(-50%);
  z-index: -1;
}

.index5 .wrap .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 85px 90px;
  position: relative;
}

.index5 .wrap .content:after {
  content: '';
  width: 100vw;
  height: 1px;
  background: #DFDECE;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -95px;
  pointer-events: none;
}

.index5 .wrap .content .item {
  width: 100%;
}

.index5 .wrap .content .item .background {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #184DC4;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.index5 .wrap .content .item .background:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
  opacity: 0;
}

.index5 .wrap .content .item .background img {
  transition: 1s;
  width: 100%;
  height: 100%;
}

.index5 .wrap .content .item .text {
  border-radius: 5px;
  border: 1px solid #E3E2D3;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 15px 21px 18px 18px;
  position: relative;
  top: -1px;
}

.index5 .wrap .content .item .text .label {
  font-weight: 500;
  font-size: 12px;
  color: #686868;
  margin: 0 0 20px;
}

.index5 .wrap .content .item .text h1 {
  font-weight: 500;
  font-size: 21px;
  color: #000000;
  height: 58px;
  line-height: 29px;
  margin: 0 0 23px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: .6s;
}

.index5 .wrap .content .item .text .pick {
  border-top: 1px solid #E3E2D3;
  padding: 21px 0 0 0;
  font-weight: 500;
  font-size: 14px;
  color: #686868;
  line-height: 29px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.index5 .wrap .content .item .text .end {
  margin: 25px 0 0 0;
  display: flex;
  justify-content: flex-end;
}

.index5 .wrap .content .item .text .end .more {
  display: flex;
  align-items: center;
}

.index5 .wrap .content .item .text .end .more p {
  font-weight: bold;
  font-size: 12px;
  color: #184DC4;
  margin: 0 10px 0 0;
}

.index5 .wrap .content .item .text .end .more .iconfont {
  color: #FF770F;
  font-size: 16px !important;
  font-weight: bold !important;
}

.index5 .wrap .content .item:hover .background img {
  transform: scale(1.05);
}

.index5 .wrap .content .item:hover .text h1 {
  color: #184DC4;
}

.index5 .wrap .content .item:hover .text_effect .fist:first-child div {
  transform: translate3d(0, -101%, 0);
  opacity: 0;
}

.index5 .wrap .content .item:hover .text_effect .fist:nth-child(2) div {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.index5 .wrap .bottom {
  margin: 78px 0 0 0;
  text-align: center;
}

.index5 .wrap .bottom p {
  font-weight: 400;
  font-size: 13px;
  color: #000000;
  margin: 0 0 35px;
}

.index5 .wrap .bottom h1 {
  font-weight: 400;
  font-size: 42px;
  color: #000000;
}

.index5 .orb-canvas {
  height: 30vh;
}

.index5 .position_circle {
  width: 134px;
  height: 134px;
  position: absolute;
  bottom: -67px;
  z-index: 56;
  left: 50%;
  transform: translateX(-50%);
}

.index5 .position_circle .circle {
  width: 100%;
  height: 100%;
  margin: 18px auto 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.index5 .position_circle .circle:before {
  content: '';
  background: #184DC4;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  transition: all .4s;
}

.index5 .position_circle .circle .cir {
  position: absolute;
  width: 114px;
  height: 114px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
  transition: all .4s;
}

.index5 .position_circle .circle .cir img {
  width: 100%;
  height: 100%;
  animation: ants 10s linear infinite;
}

.index5 .position_circle .circle .text {
  display: flex;
  align-items: center;
  position: relative;
  left: 3px;
}

.index5 .position_circle .circle .text p {
  font-size: 15px;
  color: #FF8000;
  line-height: 25px;
  margin: 0 7px 0 0;
  font-weight: 600;
}

.index5 .position_circle .circle .text .overflow {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.index5 .position_circle .circle .text .iconfont {
  color: #FF770F;
  font-size: 13px !important;
  font-weight: bold !important;
  animation: arrowRun 5s infinite;
}

.index5 .position_circle .circle:hover::before, .index5 .position_circle .circle:hover .cir {
  transform: scale(0.9);
}

.load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background: #184DC4;
}

.load .loader_image {
  width: 29vw;
  height: 0;
  max-width: none;
  display: block;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100vw 100vh !important;
}

.load .loader_image:after {
  content: "";
  background: #85a6ea;
  height: 100%;
  left: 0;
  mix-blend-mode: hard-light;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
  z-index: 10;
}

.load .loader_image.is-1 {
  background-image: url(https://assets-global.website-files.com/6486cb33f7cd6d9267f51a29/65884ff79c1ad56db2fcb815_02%402560.webp);
}

.load .loader_image.is-2 {
  background-image: url(https://assets-global.website-files.com/6486cb33f7cd6d9267f51a29/65884ff79c1ad56db2fcb815_02%402560.webp);
}

.load .loader_image.is-3 {
  background-image: url(https://assets-global.website-files.com/6486cb33f7cd6d9267f51a29/6588501776ba6361e49e7aef_03%402560.webp);
}

.load .loader_image.is-4 {
  background-image: url(https://assets-global.website-files.com/6486cb33f7cd6d9267f51a29/658850374c3ee93f919ceba6_04%402560.webp);
}

.load .loader_image.is-5 {
  background-image: url(https://assets-global.website-files.com/6486cb33f7cd6d9267f51a29/6588505535bf2e2e77afa6b8_05%402560.webp);
}

.load .loader_image.is-6 {
  background-image: url(https://assets-global.website-files.com/6486cb33f7cd6d9267f51a29/658850724c3ee93f919d0332_06%402560.webp);
}

.load .loader_image.is-7 {
  background-image: url(../images/banner_1.jpg);
}

.load .loader_image:last-child {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  clip-path: inset(100vh 35.5vw 0 35.5vw);
}

.load .loader_image:last-child:after {
  opacity: 0;
}

.load .loader_image.on {
  height: 70vh;
}

.load .loader_image.is_height {
  clip-path: inset(30vh 35.5vw 0 35.5vw);
}

.load .loader_image.is_transform {
  clip-path: inset(15vh 35.5vw 15vh 35.5vw);
}

.load .loader_image.hide {
  transform: scale(0);
}

.load .loader_image.is_all {
  clip-path: inset(0 0 0 0);
}

.index5 .wrap .content .item .background:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0,0,0,.5);
  opacity: 0;
}

@keyframes is_height {
  to {
    height: 75vh;
  }
}

@keyframes is_transform {
  to {
    transform: translateY(-12.5vh);
  }
}

@media screen and (max-width: 1550px) {
  .index3 .wrap .content .picture {
    width: 48%;
  }

  .index3 .wrap .content .l .item {
    width: 100%;
  }

  .index3 .wrap .content .l {
    width: 49%;
    position: relative;
  }

  .index3 .wrap .content .l .move {
    width: 100%;
  }
}

@media screen and (max-width: 1530px) {
  .index5 .wrap .content {
    gap: 7% 5%;
  }
}

@media screen and (max-width: 1470px) {
  .index1 .wrap .center .r .title {
    font-size: 31px;
    line-height: 52px;
  }

  .index2 .wrap .fist .flex {
    width: 47%;
  }
}

@media screen and (max-width: 1435px) {
  .index2 .wrap .item .text p:last-child {
    font-size: 22px;
    line-height: 35px;
  }
}

@media screen and (max-width: 1415px) {
  .index1 .wrap .center .r .title {
    font-size: 30px;
  }

  .index4 .text {
    width: 90%;
    white-space: unset;
    font-size: 39px;
  }
}

@media screen and (max-width: 1314px) {
  .index2 .wrap .item .text p:last-child {
    font-size: 20px;
    line-height: 33px;
  }

  .index2 .wrap .item .text p:first-child {
    font-size: 14px;
  }

  .index5 .wrap .title {
    margin: 0 12% 141px 8%;
    justify-content: space-between;
  }

  .index5 .wrap .title .l {
    margin: 0;
  }
}

@media screen and (max-width: 1270px) {
  .index1 .wrap .center .r .title {
    font-size: 29px;
    line-height: 47px;
  }
}

@media screen and (max-width: 1200px) {
  .index2 .wrap .item .text p:last-child {
    font-size: 18px;
    line-height: 33px;
  }

  .index2 .wrap .item .text p:first-child {
    font-size: 13px;
  }
}

@media screen and (max-width: 1080px) {
  .index1 .wrap .center .r {
    width: 67%;
  }

  .index1 .wrap .center .r .title {
    font-size: 28px;
  }
}

@media screen and (max-width: 1075px) {
  .index2 .wrap .item .text p:last-child {
    font-size: 17px;
    line-height: 32px;
  }

  .index2 .wrap .item .text p:first-child {
    font-size: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .index1 .wrap .center #container{
    display: none;
  }

  .fixed_get{
    display: none !important;
  }
  /*.index1 .wrap .content .picture img{*/
  /*  min-height: 17px;*/
  /*}*/
  .index3 .wrap .content .picture{
    transform: translateY(-31px) scale(1.3);
  }
  .index5 .wrap .title .r p{
    display: none;
  }


  .banner .wrap {
    margin: 0 5%;
  }

  .banner .wrap h1 {
    font-size: 40px;
  }

  .banner .wrap p {
    font-size: 15px;
  }

  .index1 .wrap .content .headline .line {
    transform: scaleX(1);
  }

  .index1 .wrap .center .r .title {
    font-size: 23px;
    line-height: 37px;
  }
  .index1 .wrap .center .r .text p{
    font-size: 13px;
  }
  .index1 .wrap .center .r {
    width: 59%;
  }
  .index1 .wrap .center .r .index_img p{
    font-size: 15px;
  }
  .index1 .wrap .center .r .index_img .display .item i{
    font-size: 62px!important;
  }

  .index2 .wrap .fist .title .blue{
    font-size: 33px;
    line-height: 1.5;
  }
  .index2 .wrap{
    margin: 0 auto 155px;
  }
  .index3 .wrap .title{
    font-size: 33px;
    line-height: 1.5;
  }
  .index3 .wrap .content .l .item .h1{
    font-size: 20px;
  }
  .index3 .wrap .content .l .item .text{
    line-height: 25px;
    font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif !important;
  }
  .index3 .wrap .content .l .item .text p{
    font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif !important;

  }
  .index3 .wrap .content .l .item .blue{
    font-size: 12px;
  }
  .index3 .wrap .content .l .item{
    padding: 15px 25px;
  }
  .index3 .wrap .content .l .move{
    height: 157px;
  }
  .index4 .text {
    font-size: 34px;
  }
  .index5 .wrap .content {
    gap: 3% 3%;
  }
  .index5{
    overflow: hidden!important;
  }
  .index1 .wrap .center .r .text .swiper span{
    font-size: 13px;
  }
  .index1 .wrap .center .r .text .swiper{
    width: fit-content;
  }

  .index1 .wrap .content .picture{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px 15px;
    width: 100%;
    max-width: 100%;
  }
  .index1 .wrap .content .picture .img:not(:last-child) {
    margin: 0;
  }
  /*.index1 .wrap .content .picture .img .swiper {*/
  /*  height: 18px;*/
  /*}*/

  .index4 .bg{
    display: none;
  }
  .index4 .sj_bg{
    height: 660px;
    display: block !important;
    position: relative;
    left: -7px;
    width: 102%;
    max-width: fit-content;
  }
  .index3 .wrap .content{
    display: none;
  }
  .index3 .wrap .sj_content{
    display: block!important;
    margin: 30px 0;
  }
  .index3 .wrap .sj_content li{
    margin-bottom: 0.6rem;
    padding-top: 0.3rem;
    position: sticky;
    position: -webkit-sticky;
    transform-origin: top left;
    background: #F2F1E4;
  }
  .index3 .wrap .sj_content li:nth-child(1){
    top: 1.2rem;
    padding-bottom: 2.9rem;
  }
  .index3 .wrap .sj_content li:nth-child(2){
    top: 3.5rem;
    padding-bottom: 1.5rem;
    margin-top: -1rem;
  }
  .index3 .wrap .sj_content li:nth-child(3){
    top: 3.6rem;
  }
  .index3 .wrap .sj_content li:last-child {
    margin-bottom: 0;
  }
  .index3{
    overflow: unset!important;
  }
  .index3 .wrap .sj_content li .blue{
    font-size: 17px;
    margin: 0 0 10px;
    transition: .6s;
    position: relative;
    color: #184DC4;
  }
  .index3 .wrap .sj_content li .h1{
    font-size: 22px;
    color: #111;
  }
  .index3 .wrap .sj_content li .public_img{
    width: 100%;
    margin: 35px 0 0 0;
  }
  .index3 .wrap .sj_content li .public_img img{
    width: 100%;
    border-radius: 10px;
    /*height: 385px;*/
  }
  body{
    font-size: 0.28rem;
  }
  html{
    font-size: calc(100vw / 7.5);
  }
}

@media screen and (max-width: 1024px) {
  .index3 .wrap .content .picture{
    display: none;
  }
  .index1 .wrap .center .r .index_img{
    display: none;
  }
  .index4{
    height: auto!important;
  }
  .index4 .fix{
    height: auto;
    transform: none!important;
  }

  .index4 .mask{
    display: none;
  }
  .index4 .bg{
    position: static;
    transform: none!important;
    min-height: 357px;
  }
  .index4 .text{
    position: static;
    transform: none!important;
    font-size: 17px;
    margin: auto;
    width: 100%;
  }
  .index4 .text p{
    opacity: 1!important;
  }
  .index4 .sj_jump{
    position: absolute;
    width: 100%;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
  }

  .index4 .oth{
    display: flex!important;
    align-items: center;
    justify-content: flex-end;
    margin: 22px 0 0 0;
    z-index: 5;
    padding: 0 5% 0 0;
  }
  .index4 .oth .r{
    display: flex;
    align-items: center;
    left: -20px;
    position: relative;
  }
  .index4 .text{
    text-align: left;
  }
  .index4 .oth .tx{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 20px 0 0;
  }
  .index4 .oth .tx img{
    width: 100%;
    height: 100%;
  }

  .index4 .oth .r h3{
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    position: relative;
    font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif !important;
  }


  .index5 .wrap .content{
    display: none;
  }
  .index5 .wrap .content.sj_content{
    display: block!important;
  }
  .index5 .wrap .content.sj_content .scroll_x{
    width: 160vw;
  }
  .index5 .wrap .content .item{
    width: 73vw;
    margin: 0 20px 0 0;
  }
  .index5 .wrap .content.sj_content .swiper-pagination{
    position: static!important;
    width: 90vw;
  }

  .index5 .wrap .content.sj_content .swiper-pagination span.swiper-pagination-bullet-active{
    background: #184DC4;
  }

  .index5 .wrap .content.sj_content::-webkit-scrollbar{
    display: none;
  }

  .index4 .text > div{
    opacity: 1!important;
  }

  .index4 .bg{
    height: 357px;
  }
  .index1 .wrap .center .r .text .swiper{
    display: none;
  }

  .banner .swiper_banner .back{
    display: none
  }
  .banner .swiper_banner .sj_back{
    display: block !important;
  }

  body#Pattern .banner .swiper_banner .swiper-slide::after{
    background-color: rgba(0, 0, 0, .7);
  }
  .index4 .text {
    font-size: 4vw!important;
  }
}

@media screen and (max-width: 820px) {
  .index1 .wrap .center #container{
    top: -24px;
  }
  .index1 .wrap{
    max-width: 90%;
  }
  .index1 .wrap .center .r .title {
    font-size: 24px!important;
    line-height: 1.8;
    font-weight: 400!important;
    line-height: 1.6 !important;

  }


  .index1 .wrap .center .r .text p {
    font-size: 12px;
  }
  .index1 .wrap .center #container{
    top: 0;
    left: -15px;
  }
  .index2 .wrap .item .text {
    margin: 22px 0 0 0;
  }
  .index2 .wrap .item .text p:first-child {
    font-size: 13px;
    line-height: 27px;
    margin: 0 0 13px;
  }
  .index2 .wrap .item:not(:last-child) {
    margin: 0 0 22px;
  }
  .index2 .wrap .fist .title {
    margin: 0 0 90px;
  }
  .index2 .wrap .fist.last .flex:first-child{
    margin: 90px 0 0 0;
  }

  .index2 .wrap .item .text p:last-child {
    font-size: 17px;
    line-height: 28px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 400;
  }
  .index2 .wrap .item .text p br{
    display: none;
  }
  .index2 .position_img.position_img2 {
    left: -29vw;
  }
  .index4 .text {
    font-size: 30px;
  }
  .index5 .wrap{
    max-width: 95%;
    margin: 0 auto 278px;
  }
  .index2 .wrap .fist .flex {
    width: 48%;
  }
  .index5 .wrap .title {
    margin: 0 7% 141px 0;
  }
  .index5 .wrap .title .l h1 {
    font-size: 23px;
    line-height: 38px;
  }
  .index5 .wrap .title .r {
    font-size: 16px;
    line-height: 26px;
  }
  .index5 .wrap .content{
    grid-template-columns: repeat(2, 1fr);
  }
  .index5 .wrap .content .item .text h1{
    font-size: 19px;
  }
  .index5 .wrap .content .item .text .pick{
    font-size: 13px;
  }
  .index5 .orb-canvas {
    height: 24vh;
  }
  .index2 .wrap .center {
    margin: 90px 0 0 0;
  }
  .index1 .wrap .center .r .text .inline p{
    display: inline!important;
  }

  .index2 .wrap .fist .title .blue{
    font-size: 31px!important;
    font-weight: 400;
    line-height: 47px!important;
  }
}

@media screen and (max-width: 819px) {
  .banner .wrap h1 {
    font-size: 24px;
  }

  .banner .wrap p {
    font-size: 15px;
    line-height: 24px;
  }
  .index1 .wrap .center{
    flex-direction: column;
  }
  .index1 .wrap .center #container{
    width: 100%;
    height: 400px;
  }
  .index1 .wrap {
    margin: 30px auto 40px;
  }
  .index1 .wrap .center .r{
    width: 100%;
  }
  .index1 .wrap .center .r .title {
    font-size: 16px;
    margin: 0 0 16px;
  }
  .index1 .wrap .content .headline p{
    font-size: 16px;
  }

  .index1 .wrap .center .r .text p {
    font-size: 15px;
  }
  .index1 .wrap .center .r .index_img{
    padding: 0;
    margin: 45px 0 0 0;
  }
  .index1 .wrap .center .r .index_img .display{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 86%;
  }
  .index1 .wrap .center .r .index_img p{
    text-align: left;
  }
  .index1 .wrap .center .r .index_img .display .item{
    width: 48%;
    padding: 0;
  }
  .index2 .wrap .fist{
    flex-direction: column;
  }
  .index1 .wrap .content .picture{
    display: none;
    grid-template-columns: repeat(4,1fr);
    gap: 25px 15px;
    width: 100%;
    max-width: 100%;
  }
  .index1 .wrap .content .picture.sj_picture{
    display: grid!important;
  }
  .index1 .wrap .content .picture .img:not(:last-child) {
    margin: 0;
  }
  /*.index1 .wrap .content .picture .img .swiper {*/
  /*  height: 18px;*/
  /*}*/
  .index2 .wrap .fist .flex {
    width: 100%;
  }
  .index2 .wrap {
    margin: 0 auto 50px;
  }
  .index2 .wrap .fist .title .blue {
    font-size: 23px;
    margin: 0 0 17px;
  }
  .index2 .wrap .fist .title .more p{
    font-size: 15px;
    font-weight: 200;
  }
  .index2 .wrap .fist .title {
    margin: 0 0 38px;
  }
  .index2 .wrap .item .text p:first-child {
    line-height: 17px;
    font-size: 15px;
  }
  .index2 .wrap .fist .flex{
    transform: none!important;
  }
  .index2 .wrap .fist:not(.last) .flex:first-child{
    margin: 0 0 44px;
  }
  .index2 .wrap .center{
    margin: 44px 0 0 0;
  }
  .index2 .wrap .fist.last .flex:first-child{
    margin: 44px 0 0 0;
  }
  .index2 .wrap .fist.last .flex:nth-child(2) {
    margin: 44px 0 0 0;
  }
  .index3 .wrap .title{
    font-size: 23px;
  }
  .index3 .wrap {
    margin: 40px auto;
  }
  .index3 .wrap .content{
    flex-direction: column;
  }
  .index3 .wrap .content .l{
    width: 100%;
  }
  .index3 .wrap .content .l .item .blue{
    margin: 0 0 14px;
  }
  .index3 .wrap .content .l .item .h1{
    margin: 0 0 10px;
  }
  .index3 .wrap .content{
    margin: 30px 0 0 0;
  }
  .index3 .wrap .content .l .move{
    height: 151px;
  }
  .index3 .wrap .content .picture {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .index5 .wrap{
    width: 90%;
    margin: 0 auto 265px;
  }
  .index5 .wrap .title{
    margin: 0 0 40px;
  }
  .index5 .wrap .title .r .img img{
    transform: translateY(0);
  }
  .index5 .wrap .title .r .position_img{
    display: none;
  }
  .index5 .wrap .title .r .img{
    width: 100%;
  }
  .index5 .wrap .title .l h1 {
    font-size: 14px;
    line-height: 1.8;
    margin: 0 0 25px;
  }
  .index5 .wrap .title .l {
    margin: 0;
    width: 100%;
  }
  .index5{
    padding: 39px 0 15px 0;
  }
  .index5 .wrap .title .r{
    top: 0;
    justify-content: unset;
    margin: 30px 0 0 0;
    width: 58%;
  }
  .index5 .wrap .content:after{
    display: none;
  }
  .index5 .wrap .content{
    grid-template-columns: repeat(1, 1fr);
  }
  .index5 .wrap {
    margin: 0 auto 318px;
  }

  .index1 .wrap .center .r .index_img{
    justify-content: unset;
  }

}

@media screen and (max-width: 819px) {
  .index1 .wrap .center {
    flex-direction: column-reverse;
  }
  .index1 .wrap .center .r{
    margin: 20px 0 0 0;
  }
  .index1 .wrap .center #container{
    opacity: .1;
    position: absolute;
    top: 41%;
    transform: translateY(-50%);
  }
  .index5 .wrap {
    margin: 0 auto 245px;
  }
}


/*# sourceMappingURL=index.css.map */
